
.txtVista{
margin-top: 5%;
padding: 2rem;
color: #000;
background-color: #eee;
font-weight: bold;
border-radius: 10px;
font-size: 20px;
width: 19%;

}

body{
    margin-left: 40%;  
    background-color: rgb(114, 206, 243);; 
}

h3{
    margin-left: 10%;
    color: rgb(0, 0, 0);
}
h2{
    margin-left: -7%;
    color: rgb(0, 0, 0);
}
.button_add{
    margin-left: 9%;
}